## 1) Create a DataFrame with PostaCode, Borough, and Neighborhood data of Toronto from Wikipedia

In [1]:
import pandas as pd 
import numpy as np  
import requests 
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [31]:
tables = pd.read_html(url)  #returns a list of DataFrames

In [32]:
toronto_df = tables[0]  #first table is the data we need
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [34]:
toronto_df.shape

(287, 3)

In [36]:
toronto_df = toronto_df[toronto_df['Borough'] != 'Not assigned']  #remove rows with 'Not assigned' in column "Borough"
print(toronto_df.shape)            #77 rows with 'Not assigned' have been removed
toronto_df.head()

(210, 3)

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [56]:
(toronto_df['Neighbourhood'] == 'Not assigned').sum()  #check if any neighborhood with "Not assigned"

0

In [54]:
(toronto_df['Postcode'].value_counts() > 1).sum()  #number of postal codes with multiple neighborhoods

56

In [97]:
toronto_df = toronto_df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [100]:
toronto_df.head(15)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...

In [101]:
toronto_df.to_csv('toronto.csv')

In [99]:
toronto_df.shape

(103, 3)